body{
  font-family: 'Pretendard', sans-serif;
}

#dropzone-preview {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

#dropzone-preview li {
  width: 30%;
}
#dropzone-preview .image-box{
  position: relative;
}

#dropzone-preview .image-box .d-flex {
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

#dropzone-preview .image-box .d-flex .shrink-0{
  position: absolute;
  top: 0;
  right: 0;
}

.representative-label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
  padding: 5px;
  font-weight: bold;
  display: none;
}
.representative-selected .representative-label {
  display: block;
}
.representative-selected {
  border: 3px solid green;
}